langchain
ipykernel
python-dotenv
langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openapi
phidata
yfinance
packaging
duckduckgo-search
fastapi
uvicorn